<h1>Add Head Of State</h1>

<style>

a:visited {
  color:blue;
}

a:hover {
  color: red;
}
    
</style>

<!--displays the errors-->
<% if(errors != undefined){ %>
    <ul>
        <% errors.forEach((error) => { %>
            <li>
                <%= error.msg %>
            </li><% }) %>
    </ul>
  <% } %>
  
<!--input form to add a head of state-->
<form action="/addHeadOfState" method="POST">
    <label>Country Code</label>
    <input type="text" name="_id"><br>
    <label>Head Of State</label>
    <input type="text" name="headOfState"><br>
    <input type="submit" value="Add">
  </form> 

<!--links to homepage and previous page-->
  <a href="./">Home Page</a>
  <a href="./listHeadsOfState">Previous Page</a>