<!--css styling-->
<style>

table{
        border: 1px solid black;
        border-collapse: collapse;
    }
    th{
        border: 1px solid black;
        background-color: #4CAF50;
  color: white;
    }

    td{
        border: 1px solid black;
       
    }

    tr:nth-child(even) {background-color: #f2f2f2;}

    
a:visited {
  color:blue;
}


a:hover {
  color: red;
}
    
</style>

<h1>Heads Of State</h1>
 <!--button to add a head of state-->
<a href="/addHeadOfState"><button>Add Head Of State</button></a><br><br>
 <!--table that displays the heads of state-->
<table>
    <tr>
        <th>Country Code</th>
        <th>Head Of State</th>
        <th></th>
        
    </tr>
    <% headsOfState.forEach((headsOfState) =>
    { %>
    <tr>
        <td><%= headsOfState._id %></td>
        <td><%= headsOfState.headOfState %></td>
        <td><a href="/deleteHeadOfState/<%= headsOfState._id %>">Delete</a></td>
        
    </tr>
    <% }) %>
</table>
<br>
 <!--Link back to home page-->
<a href="./">Home Page</a>